.vs/*
DataBaseEntityFramework/bin/*
DataBaseEntityFramework/obj/*
DataBaseEntityFramework/bin/Debug/*
DataBaseEntityFramework/obj/Debug/*

ServerHttpPlatform/bin/*
ServerHttpPlatform/obj/*
ServerHttpPlatform/bin/Debug/*
ServerHttpPlatform/obj/Debug/*

OuterReadOnlyDatabase/bin/*
OuterReadOnlyDatabase/obj/*
OuterReadOnlyDatabase/bin/Debug/*
OuterReadOnlyDatabase/obj/Debug/*


appsettings.Development.json

CommunicationPlatform.sln.DotSettings.user
